<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <title>eeo</title>
        <script src="https://cdn.bootcss.com/vue/2.5.3/vue.min.js"></script>
        <script src="https://cdn.bootcss.com/vue-resource/1.3.4/vue-resource.min.js"></script>
        <link href="./index.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <div id="app" class="wrapper">
            <div class="container">
                <div>
                    <span>Speed: {{speed}}kpm </span>
                    <span>Errors: {{errorCount}}</span>
                </div>
                <div class="text_area" :class="{blink: blinkShow}" tabindex="1" v-on:keydown="check($event)" v-on:focus="start" v-on:blur="finish">
                    <span :class="{ current: curIndex==index, error: errIndexArr.indexOf(index)!=-1, is_space: letter==' ' }" v-for="(letter, index) in phraseArr[0].phrase.split('')">{{letter==' ' ? '␣': letter}}</span>
                </div>
                <!--<div class="form">-->
                    <!--<table>-->
                        <!--<tr>-->
                            <!--<th>Words</th>-->
                            <!--<th>说明</th>-->
                            <!--<th>一级分类</th>-->
                            <!--<th>二级分类</th>-->
                            <!--<th>三级分类</th>-->
                            <!--<th>重要等级</th>-->
                        <!--</tr>-->
                        <!--<tr>-->
                            <!--<td>-->
                                <!--<input type="text" name="some_name" placeholder="请输入词组或句子" v-model="newItem.phrase">-->
                            <!--</td>-->
                            <!--<td>-->
                                <!--<input type="text" name="some_name" placeholder="请输入说明或描述" v-model="newItem.desc">-->
                            <!--</td>-->
                            <!--<td>-->
                                <!--<input type="text" name="some_name" placeholder="请输入一级分类" v-model="newItem.firstClass">-->
                            <!--</td>-->
                            <!--<td>-->
                                <!--<input type="text" name="some_name" placeholder="请输入二级分类" v-model="newItem.secondClass">-->
                            <!--</td>-->
                            <!--<td>-->
                                <!--<input type="text" name="some_name" placeholder="请输入三级分类" v-model="newItem.thirdClass">-->
                            <!--</td>-->
                            <!--<td>-->
                                <!--<input type="text" name="some_name" placeholder="请输入重要等级" v-model="newItem.level">-->
                            <!--</td>-->
                        <!--</tr>-->
                    <!--</table>-->
                    <!--<button class="submit" @click="addPhrase">提交</button>-->
                <!--</div>-->
            </div>
        </div>
    </body>
    <script type='text/javascript' src='./index.js'></script>
</html>
